<div>
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h3 class="card-title">Lista de usuários excluidos</h3>

        <div>
          <a [routerLink]="['/users']" class="btn btn-default btn-sm mx-2">
            <i class="fas fa-arrow-left"></i>
          </a>
          <button (click)="onRefresh()" class="btn btn-light btn-sm mx-2">
            <i class="fas fa-sync"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover" *ngIf="users$ | async as users; else loading">
        <thead>
          <th>#</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Veículos</th>
          <th>Cadastro</th>
          <th>Atualização</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>( {{ user.cars_count || 0 }} )</td>
            <td>{{ user.created_at | date: 'd/m/Y' }}</td>
            <td>{{ user.updated_at | date: 'd/m/Y' }}</td>
            <td>
              <button title="Restaurar" type="button" class="btn btn-default btn-xs shadow mx-2" (click)="restore(user)">
                <i class="fas fa-plus"></i>
              </button>
              <button title="Excluir definitivo" type="button" (click)="onDelete(user)" class="btn btn-danger btn-xs shadow">
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #loading>
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </ng-template>

    </div>
  </div>
</div>
